
<header>
  <nav class="navbar navbar-expand bg-light navbar-light">

    <ul class="navbar-nav">
      <li class="navbar-brand">
        <img src="assets/logo.png" alt="logo" class="rounded-circle" style="width:40px;border:2px solid blue;">
      </li>
      <li class="nav-item">
        <a routerLink='/form' routerLinkActive="active" class="nav-link">Form</a>
      </li>
      <li class="nav-item">

        <a routerLink='/form-validation' routerLinkActive="active"  class="nav-link">FormValidation</a>
      </li>
    </ul>
  </nav>

</header>
